@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');

/* Main Structure css */
*   {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background-color: #D5F5E3;
    font-family: 'Space Grotesk', sans-serif;
}

/* Headings and paragraphs*/
 h1, h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #3498DB;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
 }

 p  {
    color: #17202A;
    font-size: 20px;
    width: 66%;
    margin: auto;
    padding-bottom: 30px;
 }


 /* navigations and links in header */

 #topcenter {
    font-size: 80px;
 }

 #navmenu li  {
    display: flex;
    justify-content: center;
    flex-direction: row;
    line-height: 70px;
    font-size: 20px;
 }

 /* link highlight */
 a {
    text-decoration: none;
    color: inherit;
 }

 #navmenu a:hover {
    border-bottom: 1px solid black;
 }

 /* classes */
 .center    {
    text-align: center;
 }

 /* br and hr */
 br {
    padding-top: 10px;
 }

 hr {
    margin: 30px auto;
    border-top: dotted;
    width: 5%;
    border-width: 5%;
    color: #17202A;
 }

 /* Images */

 #pic-layout {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;

 }

 #pele-image {
    width: 20%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

 #maradona-image {
    width: 20%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
 }

 #ronaldo-image {
    width: 20%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
 }

 #messi-image {
    width: 20%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
 }

 #social    {
    font-size: 30px;
    text-align: center;
    padding-bottom: 50px;
 }